@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
   box-sizing: border-box;
   list-style: none;
   font-family: Inter;
}

.header{
    background: #282829;
    height: 70px;
    padding-top: 15px;
    padding-right: 100px;
    padding-bottom: 15px;
    padding-left: 100px;
    gap: 10px;
    display: flex;
    color: white;
}


.main h1{
    font-family: Inter;
    font-weight: 500px;
    font-size: 88px;
    line-height: 93px;
    text-align: center;
}
.box{
    width: 393px;
    height: 230px;
    border-radius: 20px;

}
.table{
    flex-wrap: wrap;
    width: 1240px;
    height: 852px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    text-align: center;
}
.footer{
    background-color: #282829;
   
    display: flex;
    justify-content: space-around;   
    color: white;
}
.footer img{
    width: 40px;
    height: 40px;
}